Django>=5.0,<6.0
djangorestframework
djangorestframework-simplejwt
django-cors-headers
cryptography
python-okx
pandas
numpy
celery
redis
channels
daphne
whitenoise
influxdb-client
psycopg2-binary
gunicorn
docker
pytest
pytest-django
